<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://f530a4e9e8.nxcli.net/wp-content/uploads/2020/06/Margot-Robbie-Feet-4650975.jpg')">
  <div class="text-center mt-4">
    <h1 class="text-primary">MOVIE LISTS</h1>
    <p class="text-white">Make lists. Watch movies. Have fun.</p>
  </div>
</div>

<div class="container shadow-sm p-3 bg-white rounded text-center">
  <div>
    <%= link_to "NEW LIST", new_list_path, class: "btn btn-primary text-white mt-3" %>
  </div>
  <div class="cards">
      <div class="row my-4 d-flex flex-wrap">
        <% @lists.each do |list| %>
          <div class="col-sm-12 col-md-4">
            <div class="card-category m-3 posters">
              <%= link_to list.name.upcase, list_path(list), class: 'text-decoration-none margin: 10px text-white' %>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
